<!--Loads the path to static -->

{% extends 'discounts/base.html'%}

{% block body %}

    <br>
    <br>
    <br>
    <div  style="margin-left:40px; margin-right:40px;">
<h1 class="page-header">{{bypercentage}}</h1>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>By Percent</th>
          </tr>
        </thead>
        <tbody>
        {% for percent in all_bypercentages %}
        <tr>
            <td class="w3-container w3-padding-16 w3-white" style = "text-align: left;"><a href="{% url 'discounts:detail2' percent.id %}">Starting From {{percent.byPercentage}} Percenents</a>
            </td>
            
        </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>

{% endblock %}