{% extends 'discounts/base.html'%}

{% block body %}




<!--
<h3>{{ website.website_region}}</h3>

<ul>
	{% for product in website.product_set.all %}
		
	<li>
		{% if product.percentage %}
		<a href="{{ product.url }}"> {{ product.title }} discount: {{ product.percentage }} </a>
		{% endif %}
	</li>
		
	{% endfor %}
</ul>
-->

    <h1 class="page-header">{{website}}</h1>
    <table class="table table-striped" id="mytable">
        <thead>
          <tr>
            <th>Title</th>
            <th>Old Price</th>
            <th>Discount</th>
            <th>New Price</th>
          </tr>
        </thead>
        <tbody>
        {% for product in website.product_set.all %}
        <tr class="active">
            <td>{% if product.url %}
                <a href="{{ product.url }}" target="_blank">
                    {{ product.title }}
                </a>
                {% else %}
                    {{ product.title }}
                {% endif %}
            </td>
            <td>{{ product.price_old }}</td>
            <td>{{ product.percentage }}</td>
            <td>{{ product.price_new }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}






